body {
    background-image: url("../media/dmdBG003.jpg");
}

html, body, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#mainIcon {
	 height: 150%;
}

.titleButton {
	background-color: #f0f0f0;
	border-radius: 25px;
	border-color: goldenrod;
	font-family: Aldrich;
	font-weight: 800;
	border-width: 5px;
	color: #f00000;
	font-size: 20px;
	padding: 20px;
	margin-top: 130px;
}

.container {
	background-color: white;
}

.dinner {
	background-color: orange;
	text-align: center;
	font-family: Amaranth;
	color: green;
	padding: 10px;
	font-size: 20px;
	border-radius: 12px;
	border: 5px;
	border-style: solid;
	border-color: gold;
	margin-top: 130px;
}

.movie {
	background-color: skyblue;
	text-align: center;
	font-family: Bangers;
	padding: 10px;
	font-size: 20px;
	border-radius: 12px;
	border: 5px;
	border-style: dotted;
	border-color: white;
	margin-top: 50px;
}

.movieButton {
	background-color: white;
	border-radius: 25px;
	border-color: #352629;
	border-style: solid;
	border-width: 5px;
	color: #f00000;
	width: 50%;
	margin-left: 25%;
	margin-right:25%;
}

#movieGen:hover {
    background-color: #352629;
    border-color: white;
}

.dessert {
	background-color: green;
	text-align: center;
	font-family: Pattaya;
	color: gold;
	padding: 10px;
	font-size: 20px;
	border-radius: 12px;
	border: 5px;
	border-style: solid;
	border-color: yellow;
	margin-top: 50px;
}

.map_container {
	height:50%; 
	width:40%;
	display: none;
	font-family: Amaranth;
}

#map {
	height: 80%;
	margin: 30px;
	border: 10px;
	border-color: #f00000;
}

.dessert {
	font-family: Pattaya;
}

.footerbox {
	background-image:linear-gradient(to bottom, silver 0%, white 100%);
	height: 30px;
}

.social-image {
    padding: 10px;
}

.foot {
	background-color: white;
	color: silver;
	height: 300px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}